#gallery {
    display: flex;
    flex-flow: row wrap;
    
}

.image {
  flex:33%;
  display: flex;
  width: 250px;
  height: 250px;
  background-color: lightblue;
  border: 1px solid rgb(126, 126, 126);
  color: white;
  font-size: 5em;
  order: 0;
  
}

p {
  margin:auto;
}

.large {
  flex:66%;
}

.first {
  order: -1;
}

.last {
 order: 3;
}
